{{define "body"}}

<div
  class="bg-white rounded-md shadow p-4 lg:p-8 dark:bg-surface-02dp"
>
  <h2 class="font-bold text-2xl font-headline mb-2 dark:text-white">{{.Name}}</h2>

  <div
    class="bg-green-100 border-t-4 border-green-500 rounded-md px-4 py-3 shadow-md mb-8 dark:bg-green-900"
    role="alert"
  >
    <div class="flex items-center text-green-700 dark:text-green-400">
      <div class="py-1">
        <svg
          class="fill-current h-6 w-6 mr-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
          ></path>
        </svg>
      </div>
      <div>
        <p class="font-bold">App connection created</p>
      </div>
    </div>
  </div>

  {{if not (eq .PairingSecret "")}}
  <p class="mb-4 dark:text-white">Use the pairing secret to connect to your app.</p>

  <p class=" text-orange-700 bg-orange-50 dark:text-orange-400 dark:bg-orange-900 py-3 px-4 mb-6 rounded-md">
    ⚠️ This pairing secret is only shown once. Don’t show it to anyone. Use it
    only with apps you trust.
  </p>

  <p class="text-l font-bold">
    <a
      onclick="document.getElementById('pairing-details').classList.toggle('hidden');return false"
      class="inline-flex bg-purple-700 cursor-pointer duration-150 focus:outline-none font-medium hover:bg-purple-900 items-center justify-center px-5 py-3 rounded-md shadow text-white transition"
      href="#"
    >
      <img
        src="public/images/visible.svg"
        width="24"
        height="24"
        class="mr-2"
      />
      Reveal pairing secret
    </a>
  </p>
  {{end}}

  <div
    class="hidden my-6 mx-auto rounded-lg border border-gray-300 dark:border-white/10 p-6"
    style="width: 432px"
    id="pairing-details"
  >
    <p class="my-4 w-full">
      <input
        type="text"
        id="pairing-input"
        value="{{.PairingUri}}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-surface-00dp dark:border-neutral-800 dark:placeholder-gray-400 dark:text-white"
      />
    </p>

    <a
      href="#"
      id="copy-link"
      class="w-full text-center bg-white border cursor-pointer dark:bg-surface-02dp dark:border-white/10 dark:hover:bg-surface-16dp duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus:outline-none font-medium hover:bg-gray-100 flex items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 dark:text-neutral-300 transition mb-6"
    >
      <svg 
        class="fill-current h-6 w-6 mr-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <rect id="copy-icon-rect" x="6" y="6" width="10" height="14" rx="1.5" stroke="currentColor" fill="transparent"/>
        <path d="M8.06427 5.06427C8.20216 5.02247 8.34846 5 8.5 5H15.5C16.3284 5 17 5.67157 17 6.5V17.5C17 17.6515 16.9775 17.7978 16.9357 17.9357C17.5517 17.7491 18 17.1769 18 16.5V5.5C18 4.67157 17.3284 4 16.5 4H9.5C8.82312 4 8.25095 4.44835 8.06427 5.06427Z" fill="currentColor"/>
      </svg>
      <span id="copy-text">Copy Secret</span>
    </a>

    <a href="{{.PairingUri}}" target="_blank" id="pairing-link">
      <div id="connect-qrcode"></div>
    </a>
  </div>
</div>

<script type="text/javascript" src="/public/js/qr-creator.js"></script>
<script type="text/javascript">
  // notify the opener if present of the success full connect
  window.addEventListener("load", (event) => {
    
    // if there is no opener we redirect to the protocol link
    // this fails if the user does not support it and the user sees the normal
    if (!window.opener) {
      // delay execution a bit to make sure the page can finish loading
      setTimeout(function () {
        document.location = "{{.PairingUri}}";
      }, 250);
      return;
    }
    window.opener.postMessage(
      {
        type: "nwc:success",
        payload: { success: true },
      },
      "*"
    );
  });

  window.addEventListener("DOMContentLoaded", (event) => {
    QrCreator.render(
      {
        fill: window.matchMedia('(prefers-color-scheme: dark)').matches ? "#FFF" : "#000",
        text: "{{.PairingUri}}",
        size: 384, // in pixels
      }, //window.matchMedia('(prefers-color-scheme: dark)').matches ? "#FFF" : 
      document.getElementById("connect-qrcode")
    );

    document
      .getElementById("copy-link")
      .addEventListener("click", async (event) => {
        event.preventDefault();
        const copyText = document.getElementById("copy-text");
        const copyIcon = document.getElementById("copy-icon-rect");
        const value = document.getElementById("pairing-input").value;

        if (navigator.clipboard && window.isSecureContext) {
          navigator.clipboard.writeText(value);
        } else {
          const textArea = document.createElement("textarea");
          textArea.value = value;
          textArea.style.position = "absolute";
          textArea.style.opacity = 0;
          document.body.appendChild(textArea);
          textArea.select();
          await document.execCommand("copy");
          textArea.remove();
        }
        copyIcon.style.fill = "currentColor";
        copyText.textContent = "Copied"
        setTimeout(() => {
          copyIcon.style.fill = "transparent"
          copyText.textContent = "Copy Secret"
        }, 2000);
      });
  });
</script>

{{end}}
