{{define "body"}}
<div class="mb-6 flex flex-row-reverse">
  <h2 class="font-bold text-2xl font-headline">Your app connections</h2>

  <a class="inline-flex bg-white border border-warmGray cursor-pointer dark:bg-surface-02dp dark:border-neutral-800 dark:hover:bg-surface-16dp dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-bitcoin focus:outline-none font-medium hover:bg-gray-50 items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 transition "
    href="/apps/new">
    <i class="fas fa-plus mr-3" aria-hidden="true"></i>
    Add a new connection
  </a>
</div>

<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">Pubkey</th>
      <th scope="col" class="px-6 py-3"></th>
    </tr>
  </thead>
  <tbody>
    {{range .Apps}}
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4"><a href="/apps/{{.ID}}">{{.Name}}</a></td>
      <td class="px-6 py-4"><a href="/apps/{{.ID}}">{{.NostrPubkey}}</a></td>
      <td class="px-6 py-4">
        <form method="post" action="/apps/delete/{{.ID}}">
          <input type="submit" value="Disconnect" class="text-red-400 cursor-pointer">
        </form>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
<br>
<br>
<br>
<br>
<a href="nostrwalletconnect://{{.NostrWalletConnect}}">Nostr Wallet Connect</a>
<br>
<img src="qr">
{{end}}
