{{define "body"}}

<div
  class="w-full lg:w-8/12 mx-auto bg-white rounded-md shadow px-4 lg:px-12 py-4 lg:py-12 mb-10"
>
  <h2 class="font-bold text-2xl font-headline mb-2">
    Create a new app connection
  </h2>

  <p class="mb-4">Authorise the new app to:</p>

  <ul class="mb-8">
    <li class="mb-2 relative pl-6">
      <i
        class="fas fa-check mr-3 text-green-700 absolute left-0 top-1"
        aria-hidden="true"
      ></i>
      Send payments from your Alby Account.
    </li>
  </ul>

  <form method="POST" action="/apps" accept-charset="UTF-8">
    <div class="mb-10">
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >App name</label
      >
      <input
        type="name"
        name="name"
        value="{{.Name}}"
        id="name"
        required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>

    <div class="flex flex-col sm:flex-row sm:justify-center">
      <a
        href="/apps"
        class="inline-flex bg-white border border-warmGray cursor-pointer dark:bg-surface-02dp dark:border-neutral-800 dark:hover:bg-surface-16dp dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-bitcoin focus:outline-none font-medium hover:bg-gray-50 items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 transition w-full sm:w-[250px] sm:mr-8 mt-8 sm:mt-0 order-last sm:order-first"
      >
        Cancel
      </a>

      <button
        type="submit"
        class="inline-flex w-full sm:w-[250px] bg-purple-700 border border-warmGray cursor-pointer dark:bg-surface-02dp dark:border-neutral-800 dark:hover:bg-surface-16dp dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-bitcoin focus:outline-none font-medium hover:bg-purple-900 items-center justify-center px-5 py-3 rounded-md shadow text-white transition"
      >
        Confirm
      </button>
    </div>
  </form>
</div>

{{end}}
