{{define "body"}}

<div class="mx-auto bg-white rounded-md shadow p-4 md:px-8 md:py-6 mb-10 dark:bg-surface-02dp">
  <h2 class="font-bold text-2xl font-headline mb-4 dark:text-white text-center">
    {{if .Name}}
      Connect to {{.Name}}
    {{else}}
      Create a new app connection
    {{end}}
  </h2>
  
  <img src="/public/images/new-connection.png" class="mb-4 w-52 mx-auto"/>
  <p class="mb-2 font-medium text-gray-800 dark:text-white">Authorise the new app to:</p>
  <div class="mb-6 text-sm text-gray-600 dark:text-white">
    <p class="mb-2">
      <img class="inline w-5 mr-2" src="/public/images/Wallet.svg"/>
      Read access your wallet
    </p>
    <p>
      <img class="inline w-5 mr-2" src="/public/images/Lightning.svg"/>
      Send and receive payments
    </p>
  </div>
  
  <form method="POST" action="/apps" accept-charset="UTF-8">
    <div {{ if .Disabled }}class="opacity-60 pointer-events-none"{{ end }}>
      <input type="hidden" name="_csrf" value="{{.Csrf}}">
      <input type="hidden" name="pubkey" value="{{.Pubkey}}">
      <input type="hidden" name="returnTo" value="{{.ReturnTo}}">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Connection name
      </label>
      <input
        {{if .Disabled}}tabIndex="-1"{{end}}
        {{ if not (eq .Name "") }}disabled{{end}}
        type="text"
        name="name"
        value="{{.Name}}"
        id="name"
        required
        autocomplete="off"
        class="bg-gray-50 border border-gray-300 text-gray-900 focus:ring-purple-700 dark:focus:ring-purple-600 dark:ring-offset-gray-800 focus:ring-2 text-sm rounded-lg block w-full p-2.5 dark:bg-surface-00dp dark:border-gray-700 dark:placeholder-gray-400 dark:text-white"
      >
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
        Eg. name of the app or purpose of the connection. 
      </p>
      <input type="hidden" name="RequestMethods" id="request-methods" value={{if .RequestMethods}}{{.RequestMethods}}{{else}}{{"pay_invoice"}}{{end}}>
      <input type="hidden" name="ExpiresAt" id="expires-at">
      <input type="hidden" name="MaxAmount" id="max-amount" value="{{.MaxAmount}}">
      <input type="hidden" name="BudgetRenewal" id="budget-renewal" value="{{.BudgetRenewal}}">
    </div>
    <button class="block mx-auto p-4 font-medium text-purple-700 text-center my-2 cursor-pointer" onclick="document.getElementById('advanced-settings').classList.toggle('hidden');return false">
      Advanced Settings
    </button>
    {{ if .Pubkey }}
      <p class="rounded-md text-orange-700 bg-orange-50 p-3 mb-6">
        ⚠️ Only connect with apps you trust!
      </p>
    {{ end }}

    <div class="flex flex-col sm:flex-row sm:justify-center">
      {{ if not .Pubkey }}
      <a
        href="/apps"
        class="inline-flex bg-white border cursor-pointer dark:bg-surface-02dp dark:border-white/10 dark:hover:bg-surface-16dp duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus:outline-none font-medium hover:bg-gray-50 items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 dark:text-neutral-300 transition w-full sm:w-[250px] sm:mr-8 mt-8 sm:mt-0 order-last sm:order-first"
      >
        Cancel
      </a>
      {{ end }}

      <button
        type="submit"
        class="inline-flex w-full sm:w-[250px] bg-purple-700 cursor-pointer dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus:outline-none font-medium hover:bg-purple-900 items-center justify-center px-5 py-3 rounded-md shadow text-white transition"
      >
      {{ if .Pubkey }} Connect Wallet {{ else }} Confirm {{ end }}
      </button>
    </div>
  </form>

  {{if .User.Email}}
    <p class="mt-8 pt-4 border-t border-gray-300 dark:border-gray-700 text-sm text-gray-500 dark:text-neutral-300 text-center">
      You're logged in as <span class="font-mono">{{.User.Email}}</span><br>
    </p>
  {{end}}
</div>

{{template "settings" .}}

<script type="text/javascript">
  // Connection Expiry Date
  const today = new Date();

  const expiresAt = document.getElementById("expires-at");
  const expiresAtFromPopup = document.getElementById("expires-at-popup");
  expiresAtFromPopup.min = today.toISOString().split('T')[0];

  const expiry = new Date("{{.ExpiresAt}}");
  if (!isNaN(Date.parse(expiry))) {
    expiresAt.value = expiresAtFromPopup.value = today.getTime() < expiry.getTime() ? expiry.toISOString().split('T')[0] : today.toISOString().split('T')[0];
  }

  // Permissions
  const requestMethodsFromPopup = document.getElementById("request-methods-popup");
  const requestMethodCheckboxes = document.getElementById("request-method-options").querySelectorAll("input[type=checkbox]");
  requestMethodCheckboxes.forEach(checkbox => {
    checkbox.addEventListener("change", function(e) {
      let checkedValues = "";
      requestMethodCheckboxes.forEach(checkbox => {
        if (checkbox.checked) {
          checkedValues += checkbox.value + " ";
        }
      });
      requestMethodsFromPopup.value = checkedValues.trim();
    })
  })

  // Budget Options
  const budgetCheckboxWrapperFromPopup = document.getElementById("budget-checkbox-wrapper-popup");
  const budgetCheckboxFromPopup = document.getElementById("budget-checkbox-popup");
  const budgetOptionsFromPopup = document.getElementById("budget-options-popup");
  const maxAmountPopup = document.getElementById("max-amount-popup");
  const budgetOptionRadiosFromPopup = document.getElementById("budget-options-popup").querySelectorAll("input[type=radio]");

  // Logic to toggle budget settings
  budgetCheckboxFromPopup.addEventListener("change", function(e) {
    if (!budgetCheckboxFromPopup.checked) {
      maxAmountPopup.value = null;
      maxAmountPopup.required = false;
      maxAmountPopup.disabled = true;
      budgetOptionsFromPopup.classList.add("opacity-30");
      budgetOptionRadiosFromPopup.forEach(radio => {
        radio.disabled = true;
        radio.checked = radio.value === "never";
      })
    } else {
      maxAmountPopup.required = true;
      maxAmountPopup.disabled = false;
      budgetOptionRadiosFromPopup.forEach(radio => {
        radio.disabled = false;
      })
      budgetOptionsFromPopup.classList.remove("opacity-30");
    }
  });

  // Logic to disable budget settings when pay_invoice is disabled
  const payInvoicePermissionFromPopup = document.getElementById("pay_invoice-id");
  payInvoicePermissionFromPopup.addEventListener("change", function(e) {
    if (!payInvoicePermissionFromPopup.checked) {
      budgetCheckboxWrapperFromPopup.classList.add("hidden");
      budgetOptionsFromPopup.classList.add("hidden");
      budgetCheckboxFromPopup.checked = false;
      budgetCheckboxFromPopup.dispatchEvent(new Event("change"));
    } else {
      budgetCheckboxWrapperFromPopup.classList.remove("hidden");
      budgetOptionsFromPopup.classList.remove("hidden");
    }
  })

  // Save Settings
  const saveSettings = document.getElementById("save-settings");
  saveSettings.addEventListener("click", function(e) {
    // Permissions
    const requestMethods = document.getElementById("request-methods");
    requestMethods.value = requestMethodsFromPopup.value;

    // Connection Expiry
    expiresAt.value = expiresAtFromPopup.value;

    // Budget Amount
    const maxAmount = document.getElementById("max-amount");
    maxAmount.value = maxAmountPopup.value;

    // Budget Renewal
    const budgetRenewal = document.getElementById("budget-renewal");
    budgetOptionRadiosFromPopup.forEach(radio => {
      if (radio.checked) {
        budgetRenewal.value = radio.value
      }
    })
    
    // Hide Popup
    document.getElementById('advanced-settings').classList.toggle('hidden');
  })
</script>
{{end}}
