{{define "body"}}

<h2 class="font-bold text-2xl font-headline mb-4 dark:text-white">
  {{if .Name}}
    Connect to {{.Name}}
  {{else}}
    Connect a new app
  {{end}}
</h2>

<form method="POST" action="/apps" accept-charset="UTF-8">
  <div class="bg-white dark:bg-surface-02dp rounded-md shadow p-4 md:p-8 ">
      <div>
        <input type="hidden" name="_csrf" value="{{.Csrf}}">
        <input type="hidden" name="pubkey" value="{{.Pubkey}}">
        <input type="hidden" name="returnTo" value="{{.ReturnTo}}">

        {{if (eq .Name "")}}
          <label for="name" class="block font-medium text-gray-900 dark:text-white">
            Name
          </label>
          <input
            {{ if not (eq .Name "") }}readOnly{{end}}
            type="text"
            name="name"
            value="{{.Name}}"
            id="name"
            required
            autocomplete="off"
            class="bg-gray-50 border border-gray-300 text-gray-900 focus:ring-purple-700 dark:focus:ring-purple-600 dark:ring-offset-gray-800 focus:ring-2 text-sm rounded-lg block w-full p-2.5 dark:bg-surface-00dp dark:border-gray-700 dark:placeholder-gray-400 dark:text-white"
          >
          <p class="mt-1 mb-6 text-xs text-gray-500 dark:text-gray-400">
            Name of the app or purpose of the connection
          </p>
        {{else}}
          <input type="hidden" name="name" id="" value="{{.Name}}">
        {{end}}
        <input type="hidden" name="RequestMethods" id="request-methods" value={{if .RequestMethods}}{{.RequestMethods}}{{else}}{{"pay_invoice"}}{{end}}>
        <input type="hidden" name="ExpiresAt" id="expires-at" value="">
        <input type="hidden" name="MaxAmount" id="max-amount" value="">
        <input type="hidden" name="BudgetRenewal" id="budget-renewal" value="monthly">
      </div>

      <div class="flex justify-between items-center mb-2 text-gray-800 dark:text-white">
        <p class="text-lg font-medium">Authorize the app to</p>
        <img id="edit" class="dark:invert opacity-80 inline cursor-pointer w-6" src="/public/images/edit.svg"/>
      </div>
      <div id="request-method-options" class="mb-6">
        <ul class="flex flex-col w-full">
          {{range $key, $value := .RequestMethodHelper}}
            <li class="w-full {{if eq $key "pay_invoice"}}order-last{{end}} {{if not $value.Checked }} hidden {{end}}">
              <div class="flex items-center mb-2">
                <img class="dark:invert opacity-80 w-5 mr-3" src="/public/images/{{ $value.Icon }}.svg"/>
                <input {{if $value.Checked }} checked {{end}} id="{{$key}}" type="checkbox" value="{{ $key }}" class="hidden w-4 h-4 mr-4 text-purple-700 bg-gray-50 border border-gray-300 rounded focus:ring-purple-700 dark:focus:ring-purple-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-surface-00dp dark:border-gray-700 cursor-pointer">
                <label for="{{$key}}" class="pointer-events-none text-gray-800 dark:text-gray-300 cursor-pointer">{{$value.Description}}</label>
              </div>
              {{if eq $key "pay_invoice"}}
                <div id="budget-allowance" class="pt-1 pb-2 pl-5 ml-2.5 border-l-2 border-l-gray-200 dark:border-l-gray-400 {{if not $value.Checked }}pointer-events-none opacity-30 hidden {{end}}">
                  <p class="text-gray-600 dark:text-gray-300 mb-2 text-sm">Monthly budget</p>
                  <div id="budget-allowance-limits" class="grid grid-cols-6 grid-rows-2 md:grid-rows-1 md:grid-cols-5 gap-2 text-xs text-gray-800 dark:text-neutral-200">
                    <div data-limit="10000" class="col-span-2 md:col-span-1 cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">10k<br>sats</div>
                    <div data-limit="50000" class="col-span-2 md:col-span-1 cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">50k<br>sats</div>
                    <div data-limit="100000" class="col-span-2 md:col-span-1 cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">100k<br>sats</div>
                    <div data-limit="1000000" class="col-span-3 md:col-span-1 cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">1M<br>sats</div>
                    <div data-limit="0" class="col-span-3 md:col-span-1 cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4 border-purple-700 dark:border-purple-300 text-purple-700 dark:text-white bg-purple-100 dark:bg-purple-900">Unlimited<br>#reckless</b></div>
                  </div>
                </div>
              {{end}}
            </li>
          {{ end }}
        </ul>
      </div>

      <div id="expiry-toggle" class="cursor-pointer text-sm font-medium text-purple-700  dark:text-purple-500">
        + Add connection expiry time
      </div>

      <div id="expiry" class="hidden text-gray-800 dark:text-neutral-200">
        <p class="text-lg font-medium mb-2">Connection expiry time</p>
        <div id="expiry-days" class="grid grid-cols-4 gap-2 text-xs">
          <div data-days="7" class="cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">1 week</div>
          <div data-days="30" class="cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">1 month</div>
          <div data-days="365" class="cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4">1 year</div>
          <div data-days="0" class="cursor-pointer rounded border-2 border-gray-200 dark:border-gray-400 text-center py-4 border-purple-700 dark:border-purple-300 text-purple-700 dark:text-white bg-purple-100 dark:bg-purple-900">Never</div>
        </div>
      </div>    

    {{if .User.Email}}
      <p class="mt-8 pt-4 border-t border-gray-300 dark:border-gray-700 text-sm text-gray-500 dark:text-neutral-300 text-center">
        You're logged in as <span class="font-mono">{{.User.Email}}</span><br>
      </p>
    {{end}}
  </div>

  <div class="mt-6 flex flex-col sm:flex-row sm:justify-center">
    {{ if not .Pubkey }}
      <a
        href="/apps"
        class="inline-flex p-4 underline cursor-pointer duration-150 items-center justify-center text-gray-700 dark:text-neutral-300 w-full sm:w-[250px] order-last sm:order-first"
      >
        Cancel
      </a>
    {{ end }}
    <button
      type="submit"
      class="inline-flex w-full sm:w-[250px] bg-purple-700 cursor-pointer dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus:outline-none font-medium hover:bg-purple-900 items-center justify-center px-5 py-3 rounded-md shadow text-white transition"
    >
    {{ if .Pubkey }} Connect {{ else }} Next {{ end }}
    </button>
  </div>
</form>

<script type="text/javascript">

  // Permissions
  const perms = document.getElementById("request-method-options");
  const edit = document.getElementById("edit");
  
  const permsItems = perms.querySelectorAll("li");
  const permsBoxes = perms.querySelectorAll("input[type=checkbox]");
  const permsIcons =  perms.querySelectorAll("img");
  const permsLabels =  perms.querySelectorAll("label");
  const requestMethods = document.getElementById("request-methods");
  const budgetAllowance = document.getElementById("budget-allowance");
  const budgetAllowanceLimits = document.getElementById("budget-allowance-limits").querySelectorAll("div");

  permsBoxes.forEach(checkbox => {
    checkbox.addEventListener("change", function(e) {
      let checkedValues = "";
      permsBoxes.forEach(box => {
        if (box.checked) {
          checkedValues += box.value + " ";
        }
      });
      if (checkbox.value == "pay_invoice") {
        let unlimited = document.querySelector('[data-limit="0"]')
        unlimited.click();
        budgetAllowance.classList.toggle("pointer-events-none");
        budgetAllowance.classList.toggle("opacity-30")
      }
      requestMethods.value = checkedValues.trim();
    })
  })

  edit.addEventListener("click", function(e) {
    permsItems.forEach(item => {
      item.classList.remove("hidden");
    })
    budgetAllowance.classList.remove("hidden");
    permsLabels.forEach(label => {
      label.classList.toggle("select-none");
      label.classList.toggle("pointer-events-none");
    })
    permsIcons.forEach(icon => {
      icon.classList.toggle("hidden");
    })
    permsBoxes.forEach(checkbox => {
      checkbox.classList.toggle("hidden");
    })
    edit.classList.toggle("hidden");
  })

  // Budget Amount
  const maxAmount = document.getElementById("max-amount");

  budgetAllowanceLimits.forEach(limit => {
    limit.addEventListener("click", function(e) {
      budgetAllowanceLimits.forEach(div => {
        div.classList.remove("border-purple-700", "dark:border-purple-300", "text-purple-700", "dark:text-white", "bg-purple-100", "dark:bg-purple-900");
      })
      limit.classList.add("border-purple-700", "dark:border-purple-300", "text-purple-700", "dark:text-white", "bg-purple-100", "dark:bg-purple-900");
      maxAmount.value = limit.getAttribute('data-limit')
    })
  })

  // Expiry
  const expiry = document.getElementById("expiry");
  const expiryToggle = document.getElementById("expiry-toggle");

  expiryToggle.addEventListener("click", function(e) {
    expiry.classList.toggle("hidden");
    expiryToggle.classList.toggle("hidden");
  })

  const today = new Date();
  const expiryDays = document.getElementById("expiry-days").querySelectorAll("div");
  const expiresAt = document.getElementById("expires-at");
  
  expiryDays.forEach(day => {
    day.addEventListener("click", function(e) {
      expiryDays.forEach(div => {
        div.classList.remove("border-purple-700", "dark:border-purple-300", "text-purple-700", "dark:text-white", "bg-purple-100", "dark:bg-purple-900");
      })
      day.classList.add("border-purple-700", "dark:border-purple-300", "text-purple-700", "dark:text-white", "bg-purple-100", "dark:bg-purple-900");
      let days = parseInt(day.getAttribute('data-days'));
      if (days == 0) {
        expiresAt.value = "";
      } else {
        let expiryDate = new Date(today.getTime() + days * 24 * 60 * 60 * 1000);
        expiresAt.value = expiryDate.toISOString().split('T')[0];
      }
    })
  })
</script>
{{end}}
