{{define "body"}}

<h3 class="font-bold text-2xl font-headline">{{.Name}}</h3>
<p class="text-gray-400 text-sm mb-2">{{.Pubkey}}</p>

{{.Referrer}}
<h2 class="font-bold text-2xl font-headline mb-2">Connect to this app?</h2>
<p class="text-sm mb-4">By clicking connect you give this application access to your wallet.</p>

<form method="POST" action="/apps">
  <input type="hidden" name="pubkey" value="{{.Pubkey}}" id="pubkey" />

  {{if eq .Name "" }}
  <div class="mb-4">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <input type="name" name="name" value="{{.Name}}" id="name" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
      Give your session a name to easily identify it.
    </p>
  </div>
  {{else}}
  <input type="hidden" name="name" value="{{.Name}}" id="name" />
  {{end}}

  <div class="mb-4">
    <h3 class="text-xl font-headline mb-2">Permissions</h3>
    <p class="text-sm mb-4">Grant this application session access to your wallet to:</p>
    <ul>
      <li class="mb-2 relative pl-6">
        <i class="fas fa-check mr-3 text-green-700 absolute left-0 top-1" aria-hidden="true"></i>
        Send payments from your account.
      </li>
    </ul>
  </div>

  <button type="submit"
    class="inline-flex bg-white border border-warmGray cursor-pointer dark:bg-surface-02dp dark:border-neutral-800 dark:hover:bg-surface-16dp dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-bitcoin focus:outline-none font-medium hover:bg-gray-50 items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 transition ">
    Connect
  </button>

</form>

{{end}}
