{{define "body"}}


<h2 class="font-bold text-2xl font-headline dark:text-white">{{.App.Name}}</h2>
<p class="text-gray-600 dark:text-neutral-400 text-sm">{{.App.Description}}</p>
<a class="ml-1 mt-1 mb-4 block dark:text-white text-xs" href="/apps">
  &slarr;
  Back to overview
</a>

<div class="bg-white rounded-md shadow p-4 lg:p-8 dark:bg-surface-02dp">
  <div class="divide-y divide-gray-200 dark:divide-white/10 dark:bg-surface-02dp">
    <div class="pb-4">
      <table>
        <tr>
          <td class="font-medium dark:text-white">Public Key:</td>
          <td class="text-gray-600 dark:text-neutral-400">{{.App.NostrPubkey}}</td>
        </tr>
        <tr>
          <td class="pr-3 font-medium dark:text-white">Last used:</td>
          <td class="text-gray-600 dark:text-neutral-400">
            {{if gt .EventsCount 0 }}
              {{.LastEvent.CreatedAt.Format "02 Jan 06 15:04 MST" }}
            {{else}}
              never
            {{end}}
          </td>
        </tr>
        <tr>
          <td class="pr-3 font-medium dark:text-white">Expires at:</td>
          <td class="text-gray-600 dark:text-neutral-400">        
             {{ if not .ExpiresAt.IsZero}}
              {{.ExpiresAt}}
            {{else}}
              never
            {{end}}
          </td>
        </tr>
      </table>
    </div>
  
    <div class="py-4">
      <h3 class="text-xl font-headline dark:text-white">Permissions</h3>
      <ul class="mt-2 text-gray-600 dark:text-neutral-400">
          {{range .RequestMethods}}
            <li class="mb-2 relative pl-6">
              <span class="absolute left-0 text-green-500">✓</span>
              {{ . }}
            </li>
          {{end}}
      </ul>
      {{ if gt .PaySpecificPermission.MaxAmount 0 }}
      <div class="pl-6">
        <table class="text-gray-600 dark:text-neutral-400">
          <tr>
            <td class="font-medium">Budget</td>
            <td>{{.PaySpecificPermission.MaxAmount}} sats ({{.BudgetUsage}} sats used)</td>
          </tr>
          <tr>
            <td class="font-medium pr-3">Renews in</td>
            <td>{{.RenewsIn}} (set to {{.PaySpecificPermission.BudgetRenewal}})</td>
          </tr>
        </table>
      </div>
      {{ end  }}
    </div>
  
    <div class="pt-4">
      <h3 class="text-xl font-headline mb-2 dark:text-white">⚠️ Danger zone</h3>
      <p class="text-gray-600 dark:text-neutral-400 mb-4">
        This will revoke the permission and will no longer allow calls from this public key. 
      </p>
    </div>
  </div>

  <form method="post" action="/apps/delete/{{.App.NostrPubkey}}">
    <input type="hidden" name="_csrf" value="{{.Csrf}}">
    <button type="submit"
      class="inline-flex bg-white border border-red-400 cursor-pointer dark:bg-surface-02dp dark:hover:bg-surface-16dp duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus:outline-none font-medium hover:bg-gray-50 items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 dark:text-neutral-300 transition w-full sm:w-[250px] sm:mr-8 mt-8 sm:mt-0 order-last sm:order-first">Disconnect</button>
  </form>
</div>

{{end}}
