{{define "body"}}
<h2 class="font-bold text-2xl font-headline py-3">
  Nostr Wallet Connect
</h2>

<p class="text-sm mb-4">
  Nostr Wallet Connect is a new protocol to use your lightning wallet with Nostr applications.
  <br />
  You're in full control as you can define granular permissions which you can revoke at any time.
</p>

<a class="inline-flex bg-white border border-warmGray cursor-pointer dark:bg-surface-02dp dark:border-neutral-800 dark:hover:bg-surface-16dp dark:text-neutral-200 duration-150 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-bitcoin focus:outline-none font-medium hover:bg-gray-50 items-center justify-center px-5 py-3 rounded-md shadow text-gray-700 transition "
  href="/alby/auth">
  <i class="fas fa-link mr-3" aria-hidden="true"></i>
  Login with your Alby Account
</a>

{{end}}
