{{define "layout.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Alby - Nostr Wallet Connect</title>
    <link href="/public/css/application.css?v202303281" rel="stylesheet" />
    <link href="/public/css/fonts.css?v202303281" rel="stylesheet" />
    <link rel="icon" href="/public/images/nwc-logo.svg">
  </head>

  <body class="bg-gray-50 dark:bg-surface-00dp">
    <div class="bg-white border-b border-gray-200 dark:bg-surface-01dp dark:border-neutral-700 mb-6">
        <nav class="container max-w-screen-lg mx-auto px-2 py-3">
            <div class="flex justify-between items-center">
                <!-- Logo -->
                <div class="flex items-center">
                  <a href="/" class="font-headline text-[20px] dark:text-white">
                    <img
                      alt="NWC Logo"
                      class="w-8 inline"
                      width="128"
                      height="120"
                      src="/public/images/nwc-logo.svg"
                    />
                    <span class="dark:text-white text-lg font-semibold">Nostr Wallet Connect</span>
                  </a>
                </div>
                <div class="hidden md:flex space-x-4">
                  <a
                    class="text-gray-400 font-medium hover:text-gray-600 dark:hover:text-gray-300 transition"
                    href="/apps"
                  >
                    Connections
                  </a>
                  <a
                    class="text-gray-400 pl-5 font-medium"
                    href="/about"
                  >
                    About
                  </a>
                </div>
                {{if .User}}                
                  <a
                    class="text-gray-400 pl-5 font-medium"
                    href="/logout"
                  >
                    Logout
                  </a>
                {{end}}
            </div>
        </nav>
    </div>
    <main class="container max-w-screen-lg mx-auto px-2 lg:px-0 flex flex-col">
        {{template "body" .}}
    </main>
    <footer class="mt-24 text-center">
      <span class="text-gray-500 dark:text-neutral-300 text-xs">Made with 💜 by</span>
      <a href="https://getalby.com?utm_source=nwc" rel="noreferrer noopener">
        <img
          id="alby-logo"
          src="/public/images/alby-logo-with-text.svg"
          class="w-16 inline"
        />
      </a>
    </footer>
  </body>

  <script type="text/javascript">
    if (window.location.pathname.startsWith("/apps")) {
      const link = document.querySelector('a[href="/apps"]');
      link.classList.remove("text-gray-400");
      link.classList.add("text-gray-900", "dark:text-gray-100");
    }
    if (window.location.pathname.startsWith("/about")) {
      const link = document.querySelector('a[href="/about"]');
      link.classList.remove("text-gray-400");
      link.classList.add("text-gray-900", "dark:text-gray-100");
    }
    function updateLogo() {
      const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const logoImages = document.querySelectorAll('#alby-logo');

      if (isDarkMode) {
        logoImages.forEach(logoImage => {
          logoImage.src = '/public/images/alby-logo-with-text-dark.svg';
        });
      } else {
        logoImages.forEach(logoImage => {
          logoImage.src = '/public/images/alby-logo-with-text.svg';
        });
      }
    }
    window.addEventListener('load', updateLogo);
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateLogo);
  </script>
</html>
{{end}}