{{define "body"}}

<div class="w-full max-w-3xl mx-auto bg-white rounded-md shadow px-4 lg:px-12 py-4 lg:py-12 mt-10 dark:bg-surface-02dp">
  <div class="text-center">
    <img alt="Nostr Wallet Connect logo" class="mx-auto mb-4" width="128" height="120"
      src="/public/images/nwc-logo.svg" />

    <h1 class="font-headline text-3xl sm:text-4xl mb-6 dark:text-white">
      Nostr Wallet Connect
    </h1>

    <p class="mb-8">
      <span class="text-gray-500">by</span>
      <a href="https://getalby.com">
        <img id="alby-logo" src="/public/images/alby-logo-with-text.svg" width="1094" height="525" class="w-[65px] inline" />
      </a>
    </p>

    <h2 class="text-lg mb-4 text-gray-700 dark:text-neutral-300">
      Securely connect your LND wallet to Nostr clients and applications.
    </h2>

    <p>
      <a href="/about" class="text-purple-700 dark:text-purple-400"> How does it work?</a>
    </p>
  </div>
</div>

<style>
  nav {
    display: none;
  }

</style>

{{end}}
